<% if parts.any? %>
  <ul class="list-unstyled">
    <% parts.each do |part| %>
      <li class="media">
        <div class="media-body">
          <div>
            <h6><%= link_to part.name, part_path(part) %></h6>
          </div>
        </div>
      </li>
    <% end %>
  </ul>
  <%= paginate parts %>
<% end %>