<div class="text-center m-5">
  <h1>ニュース一覧</h1>
</div>
<div>
  <div class="container">
    <div class="row center">
      <% @articles.each do |article| %>
        <div class="col-xl-4 text-center">
          <h5><%= article.title %></h5>
          <div class="mb-5"><img src="<%= article.image %>" width="100"></div>
        </div>
      <% end %>  
    </div>
  </div>
</div>
<%= paginate @articles %>
<% if logged_in? %>
  <div class="text-right">
    <%= link_to '記事を追加', new_article_path %>
  </div>
<% end %>
<hr>
<div class="text-center">
  <i class="fab fa-twitter fa-2x m-2"></i>
  <i class="fab fa-instagram fa-2x m-2"></i>
  <i class="fab fa-facebook-f fa-2x m-2"></i>
  <i class="fab fa-youtube fa-2x m-2"></i>
</div>
<div class="text-center">
  <small>&copy; 2020 DreamScouts.</small>
</div>