<% if logged_in? %>
  <div class="text-center">
    <h1>Dream scouts Member page</h1>
    <img src="/assets/top.jpg" alt="" class="img-fluid">
  </div>
  <div>
    <%= link_to '連絡板', user_path(current_user) %> 
    <%= link_to 'パート情報', parts_path %>
    <%= link_to '動画一覧' %>
    <%= link_to '楽譜一覧' %>
  </div>
</div>
<% else %>
  <div class="text-center">
    <h1>Welcome to Dream scouts</h1>
    <img src="/assets/top.jpg" alt="" class="img-fluid">
  </div>
<% end %>