<div class="text-center m-5">
  <h1>ABOUT US</h1>
</div>
<div>
  <p>基本情報</p>
</div>
<table class="table table-bordered">
  <tr>
      <td class="text-center">団体名</td>
      <td colspan="2">DreamScouts</td>
  </tr>
  <tr>
      <td class="text-center">概説</td>
      <td colspan="2">一般のマーチイングバンドチーム</td>
  </tr>
  <tr>
      <td rowspan="4" class="text-center">構成</td>
      <td>Brass</td>
      <td>Trumpet,Mellophone,Bariton,Tuba</td>
  </tr>
  <tr>
      <td>battery</td>
      <td>SnareDrum,TenorDrum,BaseDrum</td>
  </tr>
  <tr>
      <td colspan="2">Pit</td>
  </tr>
  <tr>
      <td colspan="2">ColorGuard</td>
  </tr>
  <tr>
      <td class="text-center">練習日</td>
      <td colspan="2">毎週日曜日</td>
  </tr>
  <tr>
      <td class="text-center">活動費</td>
      <td colspan="2">年間¥100,000</td>
  </tr>
  <tr>
      <td class="text-center">入団資格</td>
      <td colspan="2">
          <li>18歳以上</li>
          <li>毎週練習に参加できる</li>
          <li>活動費を払うことができる</li>
      </td>
  </tr>
</table>
<hr>
<div class="text-center">
    <i class="fab fa-twitter fa-2x m-2"></i>
    <i class="fab fa-instagram fa-2x m-2"></i>
    <i class="fab fa-facebook-f fa-2x m-2"></i>
    <i class="fab fa-youtube fa-2x m-2"></i>
 </div>
 <div class="text-center">
   <small>&copy; 2020 DreamScouts.</small>
 </div>