<% tab = capture do %>
  <ul>
    <% if schdule.mon == 4 %> 
      <li>4月</li>
    <% end %>
    <% if schdule.mon == 5 %> 
      <li>5月</li>
    <% end %>
    <% if schdule.mon == 6 %> 
      <li>6月</li>
    <% end %>
    <% if schdule.mon == 7 %> 
      <li>7月</li>
    <% end %>
    <% if schdule.mon == 8 %> 
      <li>8月</li>
    <% end %>
    <% if schdule.mon == 9 %> 
      <li>9月</li>
    <% end %>
    <% if schdule.mon == 10 %> 
      <li>10月</li>
    <% end %>
    <% if schdule.mon == 11 %> 
      <li>11月</li>
    <% end %>
    <% if schdule.mon == 12 %> 
      <li>12月</li>
    <% end %>
    <% if schdule.mon == 1 %> 
      <li>1月</li>
    <% end %>
    <% if schdule.mon == 2 %> 
      <li>2月</li>
    <% end %>
    <% if schdule.mon == 3 %> 
      <li>3月</li>
    <% end %>
  </ul>
<% end %>